<a href="https://colab.research.google.com/github/zahrahani/hani-s-first-python/blob/main/week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #syntax print()

print('hani belajar Python')

hani belajar Python

In [ ]:
#print string yang diapit tanda petik tunggal
#menghasilkan output string 2 baris

print('halo!')
print('hari ini aku belajar Python')

halo!
hari ini aku belajar Phyton

In [ ]:
#menambahkan fungsi end= ' '
#agar output yang dihasilkan menjadi 1 baris

print('halo!', end= ' ')
print('hari ini aku belajar Python')

halo! hari ini aku belajar Python

In [ ]:
#output string dalam 1 baris dengan menambahkan fungsi sep= '. '
#output menghasilkan antar string dipisah dengan tanda .
#tanda pemisah string yang akan ditampilkan output tertulis di fungsi sep= ' ' yang diapit tanda petik tunggal pada fungsi itu

print('zahra nibras hanilatifa', 'S1 teknologi informasi', 2024, sep= '. ')

zahra nibras hanilatifa. S1 teknologi informasi. 2024

In [ ]:
print(2021, 'sampai', 2024, 'hani sekolah di SMKN 1 Magelang', sep= ' ')

2021 sampai 2024 hani sekolah di SMKN 1 Magelang

In [ ]:
#print isi nilai variabel dengan memanggil variabelnya

presence = 24
number = 2420506024
name   = "Zahra Nibras Hanilatifa"

print(24)
print(number)
print(name)

24
2420506024
Zahra Nibras Hanilatifa

In [ ]:
#menggabungkan 2 string untuk dicetak sekaligus dalam 1 fungsi kode

print('S1 Teknologi Informasi angkatan ke-2 ' + 'Universitas Tidar')

S1 Teknologi Informasi angkatan ke-2 Universitas Tidar

In [ ]:
#print isi nilai variabel dengan menggunakan format

x = 12
y = 30

print('nilai x yaitu {}, sedangkan nilai y yaitu {}'.format(x,y))

nilai x yaitu 12, sedangkan nilai y yaitu 30

# **BASIC INPUT**

In [ ]:
#syntax input

input(prompt)
#prompt itu bisa diisi dengan string yang ingin kita tampilkan di layar

In [ ]:
#implementasi fungsi input() dengan menambahkan variabel
#serta mencetak data dan tipe datanya

name = input('Masukkan nama = ')
num  = input('Masukkan npm = ')

print('Kamu telah menambahkan nama dan npm =', name, num)
print('Tipe data name:', type(name))
print('Tipe data num:', type(num))

Masukkan nama = hani
Masukkan npm = 2420506024
Kamu telah menambahkan nama dan npm = hani 2420506024
Tipe data name: <class 'str'>
Tipe data num: <class 'str'>

In [ ]:
#mengonversi tipe data num yang tadinya str ke int

num = int(input('Masukkan npm = '))
print('Tipe data num: ', type(num))

Masukkan npm = 2420506024
Tipe data num:  <class 'int'>

# **MEMBACA FILE**

In [2]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=b743fbf2abf271aeda185ed4cc19cca003749e556cad00f2f26e0522b0a2cff5
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [3]:
# Download Example file
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-11 08:50:34--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-11 08:50:34 (23.7 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

# **MEMBACA TEXT FILES**

In [ ]:
#file = file object
#open = fungsi
#/resources/data/ = file path
#Example1.txt = file name
#r = mode baca untuk membaca file
#w = mode tulis untuk menulis file

In [ ]:
#membuka file Example1.txt

file = open("/resources/data/Example1.txt", "r")

In [ ]:
#membaca file Example1.txt
#menambahkan mode "r" dalam fungsi open()

example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [ ]:
#melihat atribut atau direktori yang menyimpan file file1

file1.name

'/resources/data/Example1.txt'

In [ ]:
#melihat mode file file1

file1.mode

'r'

In [ ]:
#membaca isi file file1

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
#print isi file1 file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
#tipe isi file

type(FileContent)

str

In [ ]:
#jika sudah selesai, menutup/keluar file

file1.close()

# **A BETTER WAY TO OPEN A FILE**

In [ ]:
#membuka file1
#membaca isi file1
#print isi file

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
with open(example1,"r") as file1:
  FileContent = file1.read()

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
#tutup file

file1.closed

True

In [ ]:
#melihat informasi file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
#membaca 4 karakter pertamadari isi file file1
#menambahkan .read() dalam fungsi print
#print

with open(example1, "r") as file1:
    print(file1.read(4))

#output akan menampilkan banyaknya karakter yang kita minta

This

In [ ]:
#membaca 30 karakter dari isi file file1
#menambahkan .read() dalam fungsi print

with open(example1, "r") as file1:
    print(file1.read(30))

#output akan menampilkan banyaknya karakter yang kita minta

This is line 1
This is line 2

In [ ]:
#membaca dan print isi file sesuai banyaknya karakter yang kita mau

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(3))

This
 is
line
 1

In [ ]:
with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(3))
    print(file1.read(5))
    print(file1.read(2))
    print(file1.read(16))

This is line 1

This
is
line
2

This is line 3

In [ ]:
#membaca hanya 1 baris isi file

with open(example1, "r") as file1:
    print("baris pertama: " + file1.readline())

baris pertama: This is line 1

In [ ]:
#membaca 2 baris isi file

with open(example1, "r") as file1:
    print("baris pertama: " + file1.readline())
    print("baris kedua  : " + file1.readline())

baris pertama: This is line 1

baris kedua  : This is line 2

In [ ]:
#mengulang tiap baris dengan menggunakan loop

with open(example1, 'r') as file1:
        i = 0;
        for line in file1:
            print('Iteration', str(i), ': ', line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
#menyimpan isi file dengan menggunakan .readlines()

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [ ]:
#lihat baris pertama

FileasList[0]

'This is line 1 \n'

In [ ]:
#lihat baris kedua

FileasList[1]

'This is line 2\n'

In [ ]:
#lihat baris ketiga

FileasList[2]

'This is line 3'

# **MENULIS FILE**

In [ ]:
!mkdir -p /resources/data

In [ ]:
#menulis satu baris isi file  ke dalam file Example2.txt

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
#membaca file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line B")
    writefile.write("This is line C")
    writefile.write("This is line D")

In [ ]:
with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line BThis is line CThis is line D

In [ ]:
#menulis beberapa baris

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line B\n")
    writefile.write("This is line C\n")
    writefile.write("This is line D\n")

In [ ]:
with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line B
This is line C
This is line D

In [ ]:
#menulis baris baru untuk isi file

with open('/resources/data/Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line E")

In [ ]:
#membaca isi file yang baru saja diedit

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line B
This is line C
This is line D
This is line E

In [ ]:
#menulis daftar/list teks

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
#menulis variabel di daftar teks file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [ ]:
#memastikan bahwa kita benar-benar menuliskan isi file
#pastikan dengan mode read lalu cetak filenya

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
#menambahkan daftar teks ke dalam file dengan menggunakan a

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line D\n")

In [ ]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

# **Copy File**

In [ ]:
#copy file Example2.txt ke Example3.txt

with open('Example2.txt', 'r') as readfile:
    with open('Example3.txt', 'w') as writefile:
          for line in readfile:
                writefile.write(line)

In [ ]:
#membaca isi file Example3.txt

with open('Example3.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

# **EXERCISE**

**WEEKLY EXERCISE 1**

1. Buatlah sebuah file .txt yang berisi biodata Anda meliputi : nama, program studi, NPM, alamat, hobi, dan email.

In [ ]:
#program untuk membuat file .txt dan menulis biodata

with open('WeeklyExercise1Hani.txt', 'w') as writefile:
    writefile.write("Nama          = Zahra Nibras Hanilatifa\n")
    writefile.write("Program Studi = S1 Teknologi Informasi\n")
    writefile.write("NPM           = 2420506024\n")
    writefile.write("Alamat        = Dsn. Saragan 001/008 Banyurojo\n")
    writefile.write("Hobi          = Mendengarkan musik dan nonton video kocak\n")
    writefile.write("Email         = zahrahani003@gmail.com")

In [ ]:
#program untuk mencetak isi file .txt

with open('WeeklyExercise1Hani.txt', 'r') as readfile:
    print(readfile.read())

Nama          = Zahra Nibras Hanilatifa
Program Studi = S1 Teknologi Informasi
NPM           = 2420506024
Alamat        = Dsn. Saragan 001/008 Banyurojo
Hobi          = Mendengarkan musik dan nonton video kocak
Email         = zahrahani003@gmail.com

2. Buatlah script untuk menampilkan menampilkan nama, program studi, dan email.

In [ ]:
#program untuk menampilkan beberapa baris isi teks

with open('WeeklyExercise1Hani.txt', 'r') as readfile:
    FileasList = readfile.readlines()
print(FileasList[0])
print(FileasList[2])
print(FileasList[1])
print(FileasList[3])

Nama          = Zahra Nibras Hanilatifa

NPM           = 2420506024

Program Studi = S1 Teknologi Informasi

Alamat        = Dsn. Saragan 001/008 Banyurojo

3. Buatlah script untuk mengambil data nama, NPM, program studi dan alamat kemudian menyimpan dalam bentuk file txt yang baru.

In [ ]:
#program untuk mengambil data nama, NPM, program studi, dan alamat
#dengan menggunakan loop

with open('WeeklyExercise1Hani.txt', 'r') as readfile:
    with open('Number3.txt', 'w') as writefile:
        for line in readfile:
            if 'Nama' in line:
                writefile.write(line)
            if 'NPM' in line:
                writefile.write(line)
            if 'Program' in line:
                writefile.write(line)
            if 'Alamat' in line:
                writefile.write(line)

In [ ]:
#progam untuk mencetak data yang di ambil

with open('Number3.txt', 'r') as readfile:
    print(readfile.read())

Nama          = Zahra Nibras Hanilatifa
Program Studi = S1 Teknologi Informasi
NPM           = 2420506024
Alamat        = Dsn. Saragan 001/008 Banyurojo

In [ ]:
#GAGAL
#nama[0] npm[2] prodi[1] alamat[3]

with open('WeeklyExercise1Hani.txt', 'r') as readfile:
    with open('Exercise1Number3.txt', 'w') as writefile:
          for line in readfile:
              writefile.write(FileasList[0])
              writefile.write(FileasList[2])
              writefile.write(FileasList[1])
              writefile.write(FileasList[3])

In [ ]:
with open('WeeklyExercise1Hani.txt', 'r') as readfile:
    with open('Exercise1Number3.txt', 'w') as writefile:
        print(readfile.readline())
        print(readfile.readline())
        print(readfile.readline())
        print(readfile.readline())

Nama          = Zahra Nibras Hanilatifa

Program Studi = S1 Teknologi Informasi

NPM           = 2420506024

Alamat        = Dsn. Saragan 001/008 Banyurojo

**WEEKLY EXERCISE 2**

In [ ]:
print ("Selamat datang di Toko Maju Jaya")
print "Senin, 4 September 2023       13.05")
print(" "

print "DAFTAR BELANJA:")
item1 = "Sabun"
item2 = 'Shampo'
item3 = Mie instant
item4 = Detergen
harga1 = Rp 10000
harga2 = 15000
harga3 = Rp 5000
harga4 = 17500

total = hargga1+harga2+hargga3+harga

print(item1,          = Rp  + harga1)
print(item2, '        = Rp '+ harga2)
print(item3,    = Rp + hargaa3)
print(item4,       = Rp + harga)

print(" ")
print("Total = Rp "+total)

with open('Kuitansi.txt', w') writefile:
        writefiile.write("Selamat Datang di Toko Maju Jaya\n")
        writefille.write(" \n")
        writefiile.write("Kuitansi - 4 Septermber 2023\n")
        writefille.write(" \n")
        writefiile.write(item1+" = Rp " harga1+"\n"
        writefille.write(item2+" = Rp " harga2")
        writefiile.write(item3+" = Rp " harga3+\n")
        writefille.write(item4+" = Rp " harga4+"\n)
        writefiile.write(" \n")
        writefille.write("Total Belanja ="+total

SyntaxError: unmatched ')' (<ipython-input-44-9b6cb28efc4f>, line 2)

In [4]:
#program untuk menampilkan struk/kuitansi belanja

print('Selamat Datang di Toko Maju Jaya')
print('Senin, 4 September 2023    13.05')
print(' ')

print('Daftar Belanja:')
#tanda ' ' untuk mengapit nilai variabel, karena bertipe str
item1 = 'Sabun'
item2 = 'Shampo'
item3 = 'Mie Instant'
item4 = 'Detergen'

harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

Total = harga1 + harga2 + harga3 + harga4

print('Item 1 > {}       = Rp {} '.format(item1, harga1))
print('Item 2 > {}      = Rp {} '.format(item2, harga2))
print('Item 3 > {} = Rp {} '.format(item3, harga3))
print('Item 4 > {}    = Rp {} '.format(item4, harga4))

print(' ')
print('   Total Belanja     = Rp', Total)

Selamat Datang di Toko Maju Jaya
Senin, 4 September 2023    13.05

Daftar Belanja:
Item 1 > Sabun       = Rp 10000
Item 2 > Shampo      = Rp 15000
Item 3 > Mie Instant = Rp 5000
Item 4 > Detergen    = Rp 17500

   Total Belanja     = Rp 47500

In [5]:
#program untuk membuat file Kuitansi.txt

with open('Kuitansi.txt', 'w') as writefile:
        writefile.write('Selamat Datang di Toko Maju Jaya\n')
        writefile.write('\n')
        writefile.write('Kuitansi - 4 September 2023\n')
        writefile.write('\n')
        writefile.write('Item 1 > {} = Rp {}\n'.format(item1, harga1))
        writefile.write('Item 2 > {} = Rp {}\n'.format(item2, harga2))
        writefile.write('Item 3 > {} = Rp {}\n'.format(item3, harga3))
        writefile.write('Item 4 > {} = Rp {}\n'.format(item4, harga4))
        writefile.write('\n')
        writefile.write('Total Belanja = Rp {}'.format(Total))