<a href="https://colab.research.google.com/github/zahrahani/hani-s-first-python/blob/main/Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PERCABANGAN**

In [ ]:
#equal          : ==
#not equal      : !=
#greater than   : >
#less than      : <
#greater than or equal to : >=
#less than or equal to    : <=

In [1]:
a = 5
a == 6

False

In [3]:
a = 5
a == 5

True

In [4]:
i = 6
i > 5

True

In [5]:
i = 2
i > 5

False

In [7]:
i = 2
i != 6

True

In [8]:
i = 6
i != 6

False

In [9]:
'ACDC' == 'Michael Jackson'

False

In [10]:
'ACDC' != 'Michael Jackson'

True

In [12]:
'B' > 'A'

True

In [13]:
'BA' > 'AB'

True

In [14]:
'ba' >= 'ba'

True

branching

In [15]:
#age 19
age = 18

if age > 18:
    print('You can Enter')

print('Move on')

Move on

In [18]:
#age 17
age = 19

if age > 18:
    print('You can Enter')
else:
    print('Go see Meet Loaf')

print('Move on')

You can Enter
Move on

In [22]:
age = 18

if age > 18:
    print('You can Enter')
elif age == 18:
    print('Go see Pink Floyd')
else:
    print('Go see Meet Loaf')

print('Move on')

Go see Pink Floyd
Move on

In [23]:
album_year = 1983
#album_year = 1970

if album_year > 1980:
    print('Album year is greather than 1980')

print('Do something...')

Album year is greather than 1980
Do something...

In [24]:
#album_year = 1983
album_year = 1970

if album_year > 1980:
    print('Album year is greather yhan 1980')
else:
    print('Less than 1980')

print ('Do something...')

Less than 1980
Do something...

operator logika

In [26]:
album_year = 1980

if(album_year > 1979) and (album_year < 1998):
    print('Album year was in between 1980 and 1989')

print('')
print('Do Stuff..')

Album year was in between 1980 and 1989

Do Stuff..

In [28]:
album_year = 1978

if (album_year < 1980) or (album_year > 1989):
    print("Album wasn't mad in the 1980's")
else:
    print("The Album was made in the 1980's")

Album wasn't mad in the 1980's

In [29]:
album_year = 1984

if not (album_year == '1984'):
    print("Album year isn't 1984")

Album year isn't 1984

Quiz

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [30]:
rate_BiB = 8.5

if rate_BiB > 8:
    print('This album is Amazing!')

This album is Amazing!

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [35]:
rate_BiB = 8.5

if rate_BiB > 8:
    print('this album is amazing!')
else:
    print('this album is ok')

this album is amazing!

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [71]:
BiB_release = 1979

if BiB_release  < 1980 or BiB_release  == 1993 or BiB_release  == 1995:
    print ("this album came out already")

this album came out already

# Exercise

# 1

In [53]:
umur = int(input('Masukkan umur mu = '))

if umur >= 17:
    print('kamu boleh membuat SIM')
else:
    print('kamu tidak boleh membuat SIM')

Masukkan umur mu = 17
kamu boleh membuat SIM

# 2

In [56]:
nilai = int(input('Masukkan nilai mu = '))

if nilai >= 90:
    print('Grade A')
elif nilai >= 80:
    print('Grade B+')
elif nilai >= 70:
    print('Grade B')
elif nilai >= 60:
    print('Grade C+')
elif nilai >= 50:
    print('Grade C')
elif nilai >= 40:
    print('Grade D')
else:
    print('Grade E')

Masukkan nilai mu = 10
Grade E

# 3

In [82]:
nilai = float(input('Masukkan nilai mu = '))

if (nilai >= 80.00) and (nilai <= 100.00):
    print('Grade A')
elif (nilai >= 77.50) and (nilai <= 79.99):
    print('Grade A-')
elif (nilai >= 75.00) and (nilai <= 77.49):
    print('Grade A/B')
elif (nilai >= 72.50) and (nilai <= 74.99):
    print('Grade B+')
elif (nilai >= 70.00) and (nilai <= 72.49):
    print('Grade B')
elif (nilai >= 67.50) and (nilai <= 69.99):
    print('Grade B-')
elif (nilai >= 65.00) and (nilai <= 67.49):
    print('Grade B/C')
elif (nilai >= 62.50) and (nilai <= 64.99):
    print('Grade C+')
elif (nilai >= 60.00) and (nilai <= 62.49):
    print('Grade C')
elif (nilai >= 55.00) and (nilai <= 59.99):
    print('Grade C-')
elif (nilai >= 50.00) and (nilai <= 54.99):
    print('Grade C/D')
elif (nilai >= 45.00) and (nilai <= 49.99):
    print('Grade D+')
elif (nilai >= 40.00) and (nilai <= 44.99):
    print('Grade D')
else:
    print('Grade E')

Masukkan nilai mu = 40
Grade D