<a href="https://colab.research.google.com/github/zahrahani/hani-s-first-python/blob/main/Week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

**range**

In [ ]:
range(5)

range(0, 5)

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range (-2, 8):
    print(i)

-2
-1
0
1
2
3
4
5
6
7

**for loop**

In [ ]:
# loop for
# mengakses tahun yang ada di dalam daftar/list

dates = [1982,1980,1973]      # daftar dates akan disimpan oleh i
N = len(dates)                # menghitung elemen dalam daftar dates

for i in range(N):            # looping setiap elemen dalam daftar dates
    print(dates[i])

1982
1980
1973

In [ ]:
# loop for
# mengakses tahun dalam daftar dates secara langsung

for year in dates:
    print(year)

1982
1980
1973

In [ ]:
# loop for
# mengubah elemen dalam daftar

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square", i, "is", squares[i])
    squares[i] = "weight"
    print("After square", i, "is", squares[i])

Before square 0 is red
After square 0 is weight
Before square 1 is yellow
After square 1 is weight
Before square 2 is green
After square 2 is weight
Before square 3 is purple
After square 3 is weight
Before square 4 is blue
After square 4 is weight

In [ ]:
# loop for
# mengetahui indeks elemen dalam daftar menggunakan enumerate

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

**while loop**

In [ ]:
# while loop
# mencari tahun 1973 dan jumlah iterasi yang dibutuhkan

dates = [1982, 1980, 1973, 2000]   # daftar dates menyimpan elemen tahun

i = 0       # i dimulai dari 0
year = 0    # year dimulai dari 0

while (year != 1973):  # false ketika year = 1973
    year = dates[i]    # year menyimpan nilai daftar dates elemen ke-i
    i = i + 1          # i sebagai iterator
    print(year)

print("It took", i ,"repetitions to get out of loop.")

1982
1980
1973
It took 3 repetitions to get out of loop.

# Nested Loop



```
# syntax nested loop

# outer for loop
for element in sequence
    # inner for loop
    for element in sequence:
        body of inner for loop
    body of outer for loop
```

## Nested for Loop

In [ ]:
# nested loop for
# membuat tabel perkalian

for i in range (1, 11):        # membuat baris 1-10
    for j in range(1, 11):     # membuat kolom 1-10
        print(i * j, end=" ")
    print(" ")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
# nested loop (while dalam for)
# mengulang elemen dalam daftar sebanyak 5 kali

names = ["Kelly", "Jessa", "Emma"]

for name in names:
    count = 0
    while count < 5:
          print(name, end=" ")
          count = count + 1
    print()

Kelly Kelly Kelly Kelly Kelly
Jessa Jessa Jessa Jessa Jessa
Emma Emma Emma Emma Emma

**Break Nested Loop**

In [ ]:
# nested loop break

for i in range(4):
    for j in range(4):
        if j == i:
           break
        print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2

**Continue Nested Loop**

In [ ]:
# nested loop continue
# untuk melewati iterasi dan pindah ke iterasi lain

first = [2, 4, 6]
second = [2, 4, 6]

for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

## Nested while Loop

In [ ]:
# nested loop while
# untuk mencetak angka 1 - 10 sebanyak 5 baris

i = 1               # i untuk baris
while i <= 5:
    j = 1           # j untuk kolom
    while j <= 10:
        print(j, end='')
        j = j + 1
    i = i + 1
    print()

12345678910
12345678910
12345678910
12345678910
12345678910

In [ ]:
# nested loop (for dalam while)
# program untuk mencetak angka sempurna

print("Show perfect number from 1 to 100")
n = 2
while n <= 100:
      x_sum = 0
      for i in range(1, n):
          if n % i == 0:
             x_sum += i
      if x_sum == n:
         print('Perfect number:', n)
      n = n + 1

Show perfect number from 1 to 100
Perfect number: 6
Perfect number: 28

# Quiz

In [ ]:
# loop for
# program untuk menampilkan angka -5 sampai 5

for i in range(-5, 6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [1]:
# loop for
# program untuk menampilkan elemen dalam daftar genres

Genres = ["Rock","R&B", "Soundtrack", "R&B", "Soul", "Pop"]

for Genre in Genres:
    print(Genre)

Rock
R&B
Soundtrack
R&B
Soul
Pop

In [ ]:
# loop for
# program untuk mencetak elemen warna dalam daftar squares

squares=["red", "yellow", "green", "purple", "blue"]

for square in squares:
    print(square)

red
yellow
green
purple
blue

In [ ]:
# loop while
# program untuk mencetak nilai rating dalam daftar PlayListRatings

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 1
Rating = PlayListRatings[0]

while(Rating >= 6):
    print(Rating)
    Rating = PlayListRatings[i]
    i = i + 1

10
9.5
10
8
7.5

In [2]:
# loop while
# menyalin str 'orange' dari daftar squares ke daftar new_squares
# ketentuan: jika bukan 'orange', maka loop akan berhenti dan keluar

squares = ["orange", "orange", "purple", "blue", "orange"]
new_squares = []

i = 0
while(squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

# Weekly Exercise

## Weekly Exercise 1

In [39]:
# program untuk menampilkan segitiga bintang
# dengan menggunakan loop for

tinggi = int(input("Masukkan tinggi bintang = "))

for i in range(tinggi):              # i kontrol baris
    for j in range(tinggi - i - 1):  # j untuk kolom
        print("", end=" ")           # cetak spasi dlm kolom
    for k in range(i + 1):           # k untuk kolom
        print("*", end=" ")          # cetak bintang dan spasi
    print(" ")                       # cetak baris baru

Masukkan tinggi bintang = 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

## Weekly Exercise 2

In [47]:
# program untuk menampilkan segitiga pascal
# dengan menggunakan loop for

pascal = int(input("Masukkan tinggi pascal = "))

for i in range(pascal):              # i kontrol baris
    for j in range(pascal - i - 1):  # j kontrol kolom
      print("", end=" ")
    C = 1
    for j in range(i + 1):
      print(C, "", end="")
      C = C * (i - j) // (j + 1)     # rumus koefisien binomial
    print("")

Masukkan tinggi pascal = 5
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

## Weekly Exercise 3

In [56]:
# program untuk menampilkan jumlah angka dalam satu baris segitiga pascal

baris_ke = int(input("Baris segitiga pascal ke-"))
baris_sebelumnya = [1]

for i in range(2, baris_ke + 1):
    baris_baru = [1]
    for j in range(1, i - 1):
        baris_baru.append(baris_sebelumnya[j - 1] + baris_sebelumnya[j])
    baris_baru.append(1)
    baris_sebelumnya = baris_baru
hasil = sum(baris_baru)
print("Jumlah angka dalam satu baris segitiga pascal ke-{} yaitu {}".format(baris_ke, hasil))

Baris segitiga pascal ke-3
Jumlah angka dalam satu baris segitiga pascal ke-3 yaitu 4